include LICENSE
include README.md
include pyproject.toml
include powerfulseal/policy/ps-schema.yaml
include powerfulseal/policy/example-config.yml
include tests/node/example_inventory
include tests/policy/example_config.yml
include tests/policy/example_config2.yml

graft powerfulseal/web/dist
